{% extends 'layout.html' %}

{% block content %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item">
      <img
        src="https://ichef.bbci.co.uk/news/976/cpsprodpb/C706/production/_128605905_1d1fa2c80e3674572eb5b6bd6df8b395a897778b553_903_4644_26124644x2612.jpg"
        width=1700 height=800>
    </div>
    <div class="carousel-item active">
      <img src="https://www.economist.com/img/b/1280/720/90/media-assets/image/20230211_LDP001.jpg" width=1700 alt="..."
        height=800>

    </div>
    <div class="carousel-item">
      <img
        src="https://www.hindustantimes.com/ht-img/img/2023/02/07/1600x900/TURKEY-SYRIA-QUAKE-69_1675771231863_1675771231863_1675771249697_1675771249697.jpg"
        width=1700 height=800>
    </div>
  </div>

</div>

<div class="main-text hidden-xs">
  <div class="col-md-12 text-left">
    <h1>Kahramanmaras Earthquake</h1>
    <h3>Devastating earthquakes have killed thousands of people in Turkey and Syria. Hundreds of buildings have been
      destroyed.
    </h3>
  </div>
</div>
<!-- <br><br> -->

<div class=" bg-body-secondary mx-auto p-5">
  <div class="row">
    <div class="col">
      <div class="counter-box px-3">
        <i class="fas fa-skull"></i>
        <h2 class="counter">41</h2><span>K</span>

        <p>people have died and many thousands are injured in Turkey and Syria</p>
      </div>
    </div>
    <div class="col">
      <div class="counter-box">
        <i class="fa fa-users"></i>
        <h2 class="counter">17</h2><span>M</span>
        <p>people in the affected area, many of them in urgent need of shelter, food and medical aid.</p>
      </div>
    </div>
  </div>
</div>
<div class="mx-auto p-5">
  <h2 class="heading text-secondary">News 📰</h2>
  <div id="tweetsCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item">
        <div class="row align-items-end">
          <div class="col-4">
            <blockquote class="w-100 twitter-tweet">
              <p lang="en" dir="ltr">Turkey, the moment when a father covered his son with his body during a tragic
                earthquake. As it turned out, this saved his life, the son is alive <a
                  href="https://t.co/E5cAV16d0f">pic.twitter.com/E5cAV16d0f</a></p>&mdash; Levandov (@blabla112345) <a
                href="https://twitter.com/blabla112345/status/1623543906720956416?ref_src=twsrc%5Etfw">February 9,
                2023</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="col-4">
            <blockquote class="w-100 twitter-tweet">
              <p lang="en" dir="ltr">When the earthquake struck in Turkey, these two nurses dropped everything — to
                protect
                innocent newborns.<br><br>The whole building was shaking, but they never left the babies&#39;
                side.<br><br>The
                nurses names are Devlet Nizam and Gazel Çalişkan.<br><br>Know their names. <a
                  href="https://t.co/2EZ0JHp92a">pic.twitter.com/2EZ0JHp92a</a></p>&mdash; Goodable (@Goodable) <a
                href="https://twitter.com/Goodable/status/1624849017091014657?ref_src=twsrc%5Etfw">February 12, 2023</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="col-4">
            <blockquote class="w-100 twitter-tweet">
              <p lang="en" dir="ltr">The death toll following the earthquake in Turkey and Syria is climbing towards a
                staggering 44,000 people. However, 11 days after the quake, survivors are still being pulled out of the
                rubble. <a href="https://t.co/ugxzSRHyu6">pic.twitter.com/ugxzSRHyu6</a></p>&mdash; CBS Evening News
              (@CBSEveningNews) <a
                href="https://twitter.com/CBSEveningNews/status/1626734662348337152?ref_src=twsrc%5Etfw">February 18,
                2023</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
      <div class="carousel-item active">
        <div class="row align-items-end">
          <div class="col-4">
            <blockquote class="w-100 twitter-tweet">
              <p lang="ca" dir="ltr"><a
                  href="https://twitter.com/hashtag/earthquake?src=hash&amp;ref_src=twsrc%5Etfw">#earthquake</a> M 7.8 -
                CENTRAL TURKEY - 2023-02-06 01:17:32 UTC <a
                  href="https://t.co/rq2QdZxhnD">pic.twitter.com/rq2QdZxhnD</a>
              </p>&mdash; SSGEOS (@ssgeos) <a
                href="https://twitter.com/ssgeos/status/1622470080578600960?ref_src=twsrc%5Etfw">February 6, 2023</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="col-4">
            <blockquote class="w-100 twitter-tweet">
              <p lang="en" dir="ltr">Statistics 5 - Distribution of affected families in emergency shelters.<a
                  href="https://twitter.com/hashtag/Emergency_response?src=hash&amp;ref_src=twsrc%5Etfw">#Emergency_response</a><a
                  href="https://twitter.com/hashtag/Syria_earthquake?src=hash&amp;ref_src=twsrc%5Etfw">#Syria_earthquake</a><a
                  href="https://twitter.com/hashtag/Turkey_Earthquake?src=hash&amp;ref_src=twsrc%5Etfw">#Turkey_Earthquake</a>
                <a href="https://t.co/eqTKSBwOwD">pic.twitter.com/eqTKSBwOwD</a>
              </p>&mdash; Emergency Response Committee
              (@Emergency_Syria) <a
                href="https://twitter.com/Emergency_Syria/status/1625160708995293184?ref_src=twsrc%5Etfw">February 13,
                2023</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          <div class="col-4">
            <blockquote class="w-100 twitter-tweet">
              <p lang="en" dir="ltr"><a
                  href="https://twitter.com/hashtag/people?src=hash&amp;ref_src=twsrc%5Etfw">#people</a> <a
                  href="https://twitter.com/hashtag/RESCUED?src=hash&amp;ref_src=twsrc%5Etfw">#RESCUED</a> Death toll
                from
                Turkey-Syria earthquakes passes 46000, as rescues wind down <a
                  href="https://t.co/8dJIeWUIrL">https://t.co/8dJIeWUIrL</a> Most rescue operations are expected to
                cease
                soon, almost two weeks after the earthquakes hit. Soccer player Christian Atsu was among those found ...
              </p>&mdash; LIVEEDGES (@LiveEdges) <a
                href="https://twitter.com/LiveEdges/status/1627237750914129921?ref_src=twsrc%5Etfw">February 19,
                2023</a>
            </blockquote>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>






<div class=" bg-body-secondary mx-auto p-5">
  <h2 class="heading text-secondary">Recent Earthquake 🌍</h2>
  <div class="card mx-auto" id="map"></div>
</div>

<div class="mx-auto p-5">
  <h2 class="heading text-secondary">Death Scale 📈</h2>
  <div class="row column-gap-3">

    <div class="col card" id="section1">
      <img src="{{ url_for('static', filename='death1.jpg') }}">
    </div>
    <div class="col card" id="section2">
      <img src="{{ url_for('static', filename='death.jpg') }}">
    </div>
  </div>
</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

<script src="{{ url_for('static', filename='js/universal.js') }}" />
</script>
<script>
  jQuery(document).ready(function ($) {
    $('.counter').counterUp({
      delay: 10,
      time: 1000
    });
  });

</script>
<script>
  var myIcon = L.icon({
    iconUrl: "{{ url_for('static', filename='marker.svg') }}",
    iconSize: [30, 30],
  });
  {% for marker in markers %}
  L.marker([{{ marker['lat'] }}, {{ marker['lon'] }}], {
    icon: myIcon
  }).addTo(map)
    .bindPopup("{{ marker['popup'] }}")
    .openPopup();
  {% endfor %}
</script>
<footer class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Copyright:
    <a class="text-dark" href="https://turkey-safezone-locator.vercel.app/">M&T</a>
  </div>
  <!-- Copyright -->
</footer>

{% endblock %}